<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.103.34" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.3.104.22" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.17.1" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Ini" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Win32.Registry" version="4.4.0" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net461" />
  <package id="NLog" version="4.5.11" targetFramework="net461" />
  <package id="OpenCvSharp4" version="4.10.0.20241108" targetFramework="net461" />
  <package id="OpenCvSharp4.Extensions" version="4.7.0.20230115" targetFramework="net461" />
  <package id="OpenCvSharp4.runtime.win" version="4.10.0.20241108" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.5" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.4.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.4.0" targetFramework="net461" />
  <package id="System.ServiceProcess.ServiceController" version="4.4.0" targetFramework="net461" />
  <package id="System.Threading.AccessControl" version="4.4.0" targetFramework="net461" />
  <package id="ViDi.NET" version="7.2.0.29090" targetFramework="net461" />
  <package id="ViDi.NET.Base" version="7.2.0.29090" targetFramework="net461" />
  <package id="ViDi.NET.Common" version="7.2.0.29090" targetFramework="net461" />
  <package id="ViDi.NET.Data" version="7.2.0.29090" targetFramework="net461" />
  <package id="ViDi.NET.Interfaces" version="7.2.0.29090" targetFramework="net461" />
  <package id="ViDi.NET.Local" version="7.2.0.29090" targetFramework="net461" />
  <package id="ViDi.NET.Logging" version="7.2.0.29090" targetFramework="net461" />
  <package id="Wibu.CodeMeter.WibuCmNET" version="7.0.3933.502" targetFramework="net461" />
</packages>